html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img{
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
	font-family: 'Varela Round', sans-serif;
}
input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea{
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
	font-family: 'Varela Round', sans-serif;
}


body,
html {height: 100%;}
body{
	margin:0;
	color:#978379;
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
	line-height: 18px;
	background: url(../images/2635d1b8.png) repeat;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#6e6e6e;}
a:hover{text-decoration:underline;}
.btn{
	line-height: 40px;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	font-size: 14px;
	background: #B7150A;
}

.clear{clear: both;}
#wrapper{
	max-width:1244px;
	height: 100%;
	margin: 0 auto;
}
.wrapper-holder {
	padding: 0 28px 20px 28px;
	box-shadow: 0px 0px 35px 1px #ededed;
	max-width:1170px;
    position:relative;
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
}
.header-holder{
	width: 100%;
	position: relative;
	margin: 0 0 28px;
}
#header {
	margin: 0 auto;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	background: url(../images/btn_mobile_menu.png) no-repeat;
	text-indent: -9999em;
	display: none;
	top: 90px;
	position: absolute;
}
.logo {
	display: block;
	margin: 24px 0 0 0;
	float:left;
	background: url(../images/etenlogo.png) no-repeat;
	width: 214px;
	height: 68px;
	text-indent: -9999px;
}
.logo a{
	display: block;
	width: 214px;
	height: 68px;
}
.tools-nav_holder{
	float: right;
	margin: 29px 0 29px 0;
}
.tools-nav{
	float: left;
	width: 200px;
	margin: 20px 45px 0 0;
}
.tools-nav li{
	float: left;
	border-left: 1px solid #dad3c8;
	margin: 0 0 0 17px;
	padding: 0 0 0 22px;
}
.tools-nav li:first-child{
	margin: 0;
	padding: 0;
	border: none;
}
.tools-nav li a{
	color:#FF8C00;
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
	line-height: 18px;
}
.checkout{
	float:left;
	border: 2px solid #dad3c8;
	padding: 7px;
	border-radius: 6px;
	behavior: url(css/PIE.htc);
}
.checkout span{
	float: left;
	margin: 12px 25px 0 20px;
}
.checkout span.grey{
/*	float: left;*/
	margin: 12px 25px 0 20px;
	color: #978379;

}
.checkout span.orange{
	margin:0;
	float:none;
	color: #FF8C00;
}
.checkout .btn.btn_checkout{
	width: 109px;
	height: 40px;
	float: right;
}
#nav {
	position: relative;
	border-radius: 2px;
	behavior: url(css/PIE.htc);
	background: #FF8C00;
	height: 50px;
}
#nav ul {float: left; background: #FF8C00;padding-left: -3px;}
#nav ul li {
	float: left;
	background: url(../images/newseparator.png) no-repeat 0 50%;
	margin:0 0 0 0;
}
#nav ul li:nth-child(2) {
	background-position: -1px 50%;
}
#nav ul li:first-child{	background: none;}
#nav ul a {
	padding:0 29px 0 32px;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	display: block;
	text-shadow: 1px 1px 2px #392b27;
	text-align: center;
	background: #FF8C00;
}
#nav ul a:hover,#nav ul a.active{
	background: #9b8078; /* Old browsers */
	background: -moz-linear-gradient(top, #9b8078 0%, #8e716a 40%, #81625a 59%, #74544c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b8078), color-stop(40%,#8e716a), color-stop(59%,#81625a), color-stop(100%,#74544c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9b8078 0%,#8e716a 40%,#81625a 59%,#74544c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9b8078 0%,#8e716a 40%,#81625a 59%,#74544c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9b8078 0%,#8e716a 40%,#81625a 59%,#74544c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9b8078 0%,#8e716a 40%,#81625a 59%,#74544c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8078', endColorstr='#74544c',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}
#nav ul li:first-child a:hover{border-radius: 5px 0 0 5px;behavior: url(css/PIE.htc);}

/*Step Navigation*/

#progressbar li {
	list-style-type: none;	
	width: 30%;
	float: left;
	position: relative;
	text-align: center;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 60px;
	height: 60px;
	line-height: 56px;
	display: block;	
	border-radius: 50%;
	margin: 0 auto 10px auto;
	border: 4px solid #ddd;
	text-align: center;
	background-color: white;
	z-index: 99;
	position: relative;
}
 
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	background-color: #ddd;
	position: absolute;
	left: -50%;
	top: 30px;
	z-index: 1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
#progressbar li.active {
	color: #6e6e6e;
}
#progressbar li.danger {
	color: red;
}
 
#progressbar li.error {
	color: red;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before{
	border-color: orange;
}
 
#progressbar li.error:before{
	border-color: red;
}
 
#progressbar li.active + li:after {
	background-color: brown;
}
 
.modal-large{width: 80%}
.callout.boxcount {
    border-color: #0097bc;
    background: #eee;
}
.disbaled-div {
	pointer-events:none;
}
#po_list tooltip:not(:first-child){
    margin-left: -8px !important;
}
#progressbar li.current:before {
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(0%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}

/* Search form */
.ul_search.li{display: none;}
#header .ul_search{
	width: 56px;
	float: right;
	height: 56px;
}
#header .ul_search.active {width: auto;}
#header #nav .ul_search .search{
	text-align: center;
	text-indent: -9999px;
	display: block;
	line-height: 50px;
}
#header #nav .ul_search .search span {
	background: url(../images/SEARCH_ICON.png) no-repeat center center;
	display: block;
}
#header #nav .ul_search.active .search {display: none;}

#header .searchform {
	width: 99.7%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #FF8C00;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	background: #fff;
	height: 46px;
}
#header .searchform input[type="text"]{
	background: #fff;
	float: left;
	border: none;
	padding: 13px 0px 13px 10px;
	width: 70%;
	font-size: 18px;
	line-height: 20px;
	height: 46px;
	outline: none;
}
#header .searchform input[type="submit"]{
	background: url(../images/exitsearch.png) no-repeat;
	float: right;
	border: none;
	width: 50px;
	height: 50px;
	margin: -2px 0 0 0;
}
/*main
 */
.main{
	max-width:1170px;
	margin: 0 auto;
	position:relative;
}
/*div[class*=col-]{
    padding: auto;
    margin-left: 0px;
}
.col-3 {width: 70%; background-color: pink;margin-left: 0px};
.col-4{width: 30%; background-color: lavender;};*/

/*@media only screen and (-webkit-min-device-pixel-ratio:2) ,(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2/1),(min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx) {
    div [class*="col-"] {
        width: 100%;
    }*/
.content{position: relative;}
/*.row::after {
    content: "";
    display: block;
}
div[class*=col-]{
    padding: auto;
}
.col-3 {width: 70%; background-color: pink;};
.col-4 {width: 30%; background-color: lavender;};
.content .box_images{
	position: relative;
	width: 870px;
	float: left;
}*/

/*#wrapper{
	width: 100%;
	margin: auto;
}
#wrapper > div{
	margin: auto;
	width: 100%;
}
#columns{
	display: table;
}*/
/*#columns .box_images-col{
	display: table-cell;
	width: 75%
	
}*/
.content .box_images-col{
	position: relative;
}
.content .box_images-col img{
/*	position: relative;*/
	width: 100%;
    height: auto;
    max-height: 300px;
    min-height: auto;
    object-fit: cover;
/*	width: 100%;
	height: 300px;*/
/*	margin-left: 0px;
	float: left;*/
/*  height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;*/
}
.content .box_images-col .info{
	position: relative;
	z-index: 100;
	top: 25%;
/*	left: 9%;*/
}
/*buat search kota*/		
/*.box_sub_total2-col{		
    text-align: center;
    width: 29%;
    height: auto;
    margin-left: 0px;
    border-radius: 5px;*/
/*    behavior: url(css/PIE.htc);*/
 /*   padding: 50px 0;*/
    background: #FF8C00;
    position: relative;	
    float: right;
}		
.box_sub_total2-col h1{		
	font-size: 18px;		
	line-height: 20px;		
	margin: 0 0 15px;		
}		
.box_sub_total2-col p{		
	padding: 0 0 20px;		
}		
.box_sub_total2-col h2{		
	position : relative;		
	bottom: -13px;		
	font-size: 18px;		
	line-height: 40px;		
	color: #ffffff;		
	display: block;		
	margin: 0 0 30px;		
}		
.box_sub_total2-col .btn.btn_finalize2{		
	background: #5b3e36;		
	position : relative;		
	top: -5px;		
	color: #fff;		
	font-size: 14px;		
	line-height: 40px;		
	width: 60px;		
	height: 35px;		
	display: block;		
	margin: 0 auto;		
}		
.box_sub_total2-col .btn.btn_finalize2:hover{text-decoration: none;}
.box_image_list{
	float: right;
	width: 270px;
}
.box_image_list li{
	overflow: hidden;
	margin: 0 0 30px;
}
.box_image_list li img{
	display: block;
	width: 100%;
	height: auto;
}
.item-list {
	overflow: hidden;
	text-align:center;
	margin: 0;
	border-radius: 7px;
	behavior: url(css/PIE.htc);
	width: 100%;
}
.item-list li {
	display:inline-block;
	width: 226px;
}
.item {
	text-align: center;
	width: 226px;
}
.item .image {
	position: relative;
}
.item .image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.item .image_home {
	position: relative;
}
.item .image_home img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.item .hover {
	display: none;
	height: 120%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #978379;
    opacity: 0.9;
    cursor: pointer;
}
.item .hover.active{display: block;}
.main .item strong{
	display: block;
	color: #661c34;
	font-weight:bold;
	font-size: 20px;
	text-align: center;
	margin-top: 0px;
}
.main .container .bottom-slider .item p{
	color: #fff;
	text-align: center;
	display: block;
	font-size: 13px;
	line-height: 18px;
	margin: 65px 12px -10px;
}
.container{position: relative;margin: 28px 0 58px 0;}
.container .bottom-slider {
	width: 1130px;
	z-index: 99;
	position: relative;
	padding: 24px 20px 20px;
	background: #FF8C00;
	border-radius: 7px;
	behavior: url(css/PIE.htc);
}
.container .bottom-slider .btn-left {
	background: url(../images/btn_prev.png) no-repeat;
	height: 40px;
	width: 40px;
	float: left;
	position: absolute;
	top: 14px;
	left: 400px;
	z-index: 100;
}
.container .bottom-slider p{
	font-size: 18px;
	line-height: 20px;
	color: #d2c3bd;
	text-align: center;
	display: block;
	padding: 0 0 24px;
}
.container .bottom-slider .slides {
	margin: auto;
	width: 1130px!important;
}
.container .bottom-slider .btn-right {
	background: url(../images/btn_next.png) no-repeat;
	height: 40px;
	width: 40px;
	float: left;
	position: absolute;
	top: 14px;
	right: 400px;
	z-index: 100;
}
.block-advice {
	margin: 0 0 40px;
	padding:21px 25px 21px;
	background: #ede4d5;
	float: left;
	width: 710px;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	position: relative;
}
.block-advice .advice-holder {
	float: left;
	color: #67564e;
	font-size: 18px;
	line-height: 53px;
}
.form-newsletter {
	width: 520px;
	float: right;
	margin: 5px 0 0;
}
.form-newsletter input[type=text] {
	float: left;
	width: 400px;
	padding: 8px 15px 8px 53px;
	margin: 0 10px 0 0;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	border-top: 2px solid #d2c7b6;
	border-right: none;
	border-left: none;
	border-bottom: none;
	background: url(../images/icon_input.png) no-repeat #fff 7px 9px;
	height: 40px;
	color: #FF8C00;
	font-size: 14px;
	line-height: 22px;
	outline: none;
	position: relative;
}
.form-newsletter input[type=submit] {
	float: right;
	width: 109px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	font-size: 14px;
	float: right;
	background: #ea5f8a;
	border: none;
	position: relative;
}
.banner_box{
	float: right;
	width: 384px;
	background: url(../images/bg_pink.png) no-repeat;
	padding: 20px 0 30px 0;
	text-align: center;
	cursor: pointer;
}
.banner_box p{
	color: #fff;
	display:block;
	margin:0 0 10px;
	font-size: 18px;
	line-height: 20px;
}
.banner_box span{
	color: #722224;
	font-size: 18px;
	line-height: 20px;
	display: block;
}
.top-bar {
	width: 100%;
	padding: 0 0 49px;
}
.top-bar:after {
    content:'';
    display:block;
    clear:both;
}
.paging {
	float: right;
	height: 40px;
	margin: 22px -4px 0 0;
}
.paging .prev,
.paging .next {
	text-indent: -9999px;
}
.paging .prev a,
.paging .next a {
	width: 40px;
	padding: 0;
}
.paging .prev a:hover,
.paging .prev a {background: url(../images/ico_arrow_left.png) no-repeat 50% 50% #ece8e2;}
.paging .next a:hover,
.paging .next a {background: url(../images/ico_arrow_right.png) no-repeat 50% 50% #ece8e2;}
.paging li {
	float: left;
	margin:0 2px 0 0;
	text-align: center;
}
.paging a {
	font:14px/38px;
	font-size:14px;
	line-height:40px;
	height: 40px;
	padding: 0 16px;
	display: block;
	color: #FF8C00;
	border-radius:5px;
	behavior: url(css/PIE.htc);
	background:#ece8e2;
	position: relative;
}
.paging .active a,
.paging a:hover {
	background: #444;
	color: #fff;
	text-decoration: none;
	background: #B7150A;
	text-decoration: none;
}
.form-sort .row {
	float: left;
	padding: 0 20px 0 0;
}
.form-sort .btn.pink {	
	padding: 0 14px;
	border: none;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	margin: 0;
}
.top-bar .form-sort {	float: left;}
.form-sort label {
	margin: 0 0 5px 0;
	color: #b4aaa5;
	display: block;
}
div.selector {
	background: #fff;
	border:1px solid #cdcdcd;
	height: 38px;
	line-height: 38px;
	padding: 0 0 0 15px;
}
.row-total .total {
	float: left;
	margin: 15px 0 0;
	font-size: 18px;
}
.bar {
	width: 100%;
	margin: 0 0 26px;
	padding: 0 0 25px;
	border-bottom: 1px solid #ece8e2;
}
.bar-frame {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
}
.breadcrumbs {
	width:100%;
	overflow: hidden;
}
.breadcrumbs li {
	float: left;
	padding: 0 11px 0 19px;
	background: url(../images/ico_arrows.png) no-repeat 0 50%;
	color: #B7150A;
}
.breadcrumbs li:first-child {
	background-image: none;
	padding: 0 11px 0 0;
}
.breadcrumbs a {color: #b4aaa5;}
.item-product{
	border-radius:0;
	text-align: center;
	margin: 0 0 0 -35px;
	overflow: hidden;
}
.item-product li{
	margin: 0 -2px;
	padding: 0 0 35px 31px;
	display: inline-block;
}
.item-product .item {
	border-radius:5px;
	behavior: url(css/PIE.htc);
	border: 2px solid #dad3c8;
	padding: 8px 8px 11px 8px;
	text-align: center;
	width: 250px;
	position: relative;
}
.item-product li .image{
	border-radius:5px;
	behavior: url(css/PIE.htc);
	margin: 0 0 17px 0;
}
.item-product .item span.name{
	color: #FF8C00;
	font-size:18px;
	line-height:22px;
	display: block;
	margin: 0 0 10px;
}
.item-product .item span.name a{
	color: #978379;
}
.item-product .item span{
	font-size: 15px;
	line-height: 15px;
	color: #FF8C00;
	display: block;
}
div.selector {
	background: #fff;
	border:1px solid #cdcdcd;
	height: 38px;
	line-height: 38px;
	padding: 0 0 0 15px;
}
div.selector span {
	height: 38px;
	text-transform: uppercase;
	font:14px/38px 'novecento_sans_widemedium', Arial, Helvetica, sans-serif;
	padding: 0 36px 0 0;
	background: url(../images/arrows_select.png) no-repeat 100% 50%;
}
div.selector select {
	height: 38px;
	font-size: 14px;
	top: 0;
	bottom:0;
}
.details-info{
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px;
}
.slid_box{
	float: left;
	width: 570px;
}
.details-info .description{
	width: 570px;
	float: right;
}

.details-info .head {
	margin: 0 0 30px;
	border-bottom: 1px solid #ece8e2;
	margin-top: 30px;
}
.details-info .title{
	font-size: 24px;
	line-height: 35px;
	color: #543b35;
	margin: 0 0 19px;
}
.details-info h3{
	font-size: 15px;
	line-height: 1px;
	margin: 0 0 23px;
	color: #978379;
}
.details-info h2{
	font-size: 18px;
	line-height: 20px;
	color: #FF8C00;
	margin: 0 0 23px;
}
.form-sort.page div.fancy-select div.trigger{min-width:57px;}
.form-sort.page div.fancy-select{width: 91px;float: right;}
.form-sort.page div.fancy-select div.trigger{padding: 11px 22px 11px 12px;background-position: 85% 50%;}
.form-sort.page div.fancy-select ul.options{min-width: 91px;right: 0;}
.form-sort.page label {float: left;margin: 13px 15px 0 0;font-size: 14px;}
.form-sort.page{border-bottom: 1px solid #ece8e2;padding: 0 0 30px;margin: 0 0 30px;}
.reviews{
	overflow: hidden;
	margin: 0 -1.4em -1em;
	border-radius: 0 0 8px 8px;
	behavior: url(css/PIE.htc);
}
.reviews li{
	background: #ece8e2;
	padding: 1.4em;
	overflow: hidden;
}
.reviews li:first-child{padding: 0 1.4em 1.4em;}
.reviews li.light{background: #e5e1db;}
.reviews li p{
	color: #887972;
	font-size: 13px;
	line-height: 17px;
}
.reviews li p.name{
	color: #a7968d;
	font-size: 12px;
	line-height: 14px;
	display: block;
	padding: 0 0 10px;
}
.list_table{
	max-width: 1170px;
	margin: 0 auto 49px;
	position: relative;
	width: 100%;
}
.list_table .braun{
	position: relative;
	background: #FF8C00;
	height: 43px;
	text-align: center;
	color: #d2c3bd;
	font-size: 16px;
	line-height: 43px;
	text-shadow: 1px 1px 2px #392b27;
}
.list_table .braun span{
	background: url(../images/newseparator.png) no-repeat 100% 0;
	display: block;
}
.list_table .braun.first{
	border-radius: 5px 0 0 0;
	behavior: url(css/PIE.htc);
	width: 60%;
	color: #fff;
}
.list_table .braun.last{
	border-radius: 0 5px 0 0;
	behavior: url(css/PIE.htc);
	width: 5%;
}
.list_table .braun.price,.list_table  .white.two{
	width: 10%;
	color:#fff;
}
.list_table .braun.qua,.list_table .white.three{
	width: 15%;
	color: #fff;
}
.list_table .braun.total,.list_table .white.four{
	width: 10%;
	color: #fff;
}
.list_table  .white.first{
	width: 58%;
	padding:10px 45px 10px 10px;
	border-left:1px solid #ece8e2; 
	border-right:1px solid #ece8e2; 
	border-bottom:1px solid #ece8e2; 
}
.list_table  .white.two,.list_table .white.three,.list_table .white.four,.list_table .white.last{
	border-right:1px solid #ece8e2; 
	border-bottom:1px solid #ece8e2; 
	text-align: center;
	color: #FF8C00;
}
.list_table  .white.two{
	text-align: center;
	color : #FF8C00;
}
.list_table td{vertical-align: middle;}
.list_table .white.last{width: 5%;}
.list_table  .white.first img {
	vertical-align: middle;
	margin: 0 20px 0 0;
	float: left;
}
.list_table  .white.first .description{
	overflow: hidden;
}
.list_table  .white.first h3 a {
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #FF8C00;
	margin: 10px 0 10px;
}
.list_table  .white.first p{
	font-size: 14px;
	line-height: 20px;
	color : #978379;
}
.list_table div.fancy-select{
	width: 77px;
}
.list_table div.fancy-select div.trigger{min-width: 35px;background-position: 80% 50%;}
.list_table div.fancy-select ul.options{min-width:  77px;}
.list_table .white.three .row,.list_table .white.last .row{display: inline-block;}
.btn-delete {
	width: 27px;
	height: 27px;
	background: url(../images/deleteorder.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.btn-delete:hover{opacity: 0.7;}

div[class*=col-]{
    float: left;
    padding: 15px;
}
}

.box_sub_total{
	text-align: center;
	width: 370px;
	margin: 0 auto 49px;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	padding: 30px 0;
	background: #ece8e2;
	position: relative;
}
.box_sub_total h4{
	font-size: 18px;
	line-height: 10px;
	margin: 0 0 15px;
	color : #978379;
}
.box_sub_total p{
	padding: 0 0 20px;
	color : #978379;
}
.box_sub_total h2{
	font-size: 30px;
	line-height: 32px;
	color: #FF8C00;
	display: block;
	margin: 0 0 30px;
}
.box_sub_total .btn.btn_finalize{
	color: #fff;
	font-size: 14px;
	line-height: 51px;
	width: 174px;
	height: 51px;
	display: block;
	margin: 0 auto;
}
.box_sub_total .btn.btn_finalize:hover{text-decoration: none;}
.btn:hover{opacity: 0.7;text-decoration: none;}
.entry h2{
	font-size: 30px;
	line-height: 34px;
	color: #543b35;
	margin: 0 0 10px;
}



		
.entry h2{		
	font-size: 30px;		
	line-height: 34px;		
	color: #543b35;		
	margin: 0 0 10px;		
}

.entry .text{
	overflow: hidden;
	margin: 0 0 35px;
	font-size: 16px;
	line-height: 20px;
}
.entry .text p{margin: 0 0 15px;font-size: 16px;	line-height: 30px;}
.entry .text ul{
	margin: 0 0 20px 30px;
	padding: 0 0 0 22px;
	overflow: hidden;
	position: relative;
	background: url(../images/bg_ul.png) repeat-y;
}
.entry .text ul li{margin: 0 0 20px;}
.entry .text ul li:last-child{margin: 0;}
.entry .text ul li span{
	color: #ea5f8a;
	margin: 0 15px 0 0;
}
.entry .text a{color: #ea5f8a;}
/*footer
 */
#footer {
    max-width:1226px;
    overflow:hidden;
    background: url(../images/bg_footer@x2.png) repeat-x;
	margin: 0 auto;
	position: relative;
	padding: 4px 0 0 0;
}
.footer-content {
	background:#FF8C00;
    padding: 31px 31px 23px;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}
.footer-content p{margin: 0 0 15px;}
.footer-content ul{
	width: 70%;
	float: left;
}
.footer-content ul li{
	float: left;
	width: 31.3%;
	margin: 0 0 0 3%;
}
.footer-content ul li:first-child{margin: 0;}
.footer-content ul li span{
	display: block;
	color: #B7150A;
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 20px;
}
.footer-content ul li a{
	color: #d2c3bd;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid ##3F1800;
	padding: 0 0 5px;
	margin: 0 0 5px;
	display: block;
}
.footer-content ul li a:hover{text-decoration: none; color: #fff;}
.footer-content ul li a.last{border: none;}
.footer-content ul.left_side{
	float: left;
	width: 770px;
}
.footer-content ul.right_side{
	float: right;
	width: 270px;
}
.footer-content ul.right_side .social{
	overflow: hidden;
	margin: 0 0 18px;
}
.footer-content ul.right_side li{width: 100%;}
.footer-content ul.right_side .social a{
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	position: relative;
	float: left;
	margin: 0 0 0 20px;
	color: #fff;
	padding:0 6px 0 45px;
	font-size:14px;
	line-height:32px;
	border: 1px solid #3F1800;
	width: 70px;
}
.footer-content ul.right_side .social a:hover{color: #fff;}
.footer-content .copy{text-align: center;color: #B7150A;}
.footer-content ul.right_side .social a.fb{background: url(../images/fb.png) no-repeat 7px 6px;margin: 0; padding-left: 42px; width: 75px;}
.footer-content ul.right_side .social a.tw{background: url(../images/twitter.png) no-repeat 7px 6px; padding-left: 38px; width: 78px;}
.footer-content ul.right_side .social a.gl{background: url(../images/ig.png) no-repeat 7px 6px;margin: 0; padding-left: 38px; width: 78px;}
.footer-content ul.right_side .social a.pn{background: url(../images/pintrest.png) no-repeat 7px 6px; padding-left: 42px; width: 75px;}
@media (-webkit-min-device-pixel-ratio:2) ,(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2/1),(min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx){
	body{
		background-image: url(../images/2635d1b8.png);
		background-size:540px 516px;
	}
	p{
		font-size: 3.2vw;
	}
	.menu_trigger{
		background-image: url(../images/btn_mobile_menu@x2.png);
		background-size:31px 30px;
	}
	#header .searchform input[type="submit"]{
		background-image: url(../images/exitsearch2x.png);
		background-size:50px 50px;
	}
	#header .searchform input[type="text"]{
		background-size: 25px 26px;
	}
	.logo{
		background-image: url(../images/etenlogo_2x.png);
		background-size:214px 68px;
	}
	.footer-content ul.right_side .social a.gl{
		background-image: url(../images/ig_2x.png);
		background-size:21px 20px;
	}
	.footer-content ul.right_side .social a.pn{
		background-image: url(../images/pintrest_2x.png);
		background-size:20px 20px;
	}
	.footer-content ul.right_side .social a.tw{
		background-image: url(../images/twitter_2x.png);
		background-size:20px 15px;
	}
	.footer-content ul.right_side .social a.fb{
		background-image: url(../images/fb_2x.png);
		background-size:20px 20px;
	}
	#header #nav .ul_search .search span {
		background-image: url(../images/SEARCH_ICON2X.png);
		background-size:56px 56px;
	}
	.form-newsletter input[type=text] {
		background-image: url(../images/icon_input@x2.png);
		background-size:22px 22px;
	}
	.container .bottom-slider .btn-left {
		background: url(../images/btn_prev@x2.png);
		background-size:40px 40px;
	}
	.container .bottom-slider .btn-right {
		background-image: url(../images/btn_next@x2.png);
		background-size:40px 40px;
	}
	.banner_box{
		background-image: url(../images/bg_pink@x2.png);
		background-size:384px 96px;
	}
	#footer {
		background-image: url(../images/bg_footer@x2.png);
		background-size:30px 4px;
   }
   .breadcrumbs li {
		background: url(../images/ico_arrows@x2.png);
		background-size:9px 5px;
		background-repeat: no-repeat;
		background-position: 0 50%;
	}
	div.selector span {
		background-image: url(../images/arrows_select@x2.png);
		background-size:9px 4px;
	}
	.paging .prev a:hover,
	.paging .prev a {
		background-image: url(../images/ico_arrow_left@x2.png);
		background-size:4px 7px;
	}
	.paging .next a:hover,
	.paging .next a {
		background-image: url(../images/ico_arrow_right@x2.png);
		background-size:4px 7px;
	}
	.btn-delete {
		background-image: url(../images/deleteorderx2.png);
		background-size:27px 27px;
	}
}